h2 {
  font: 30px Verdana, Geneva, sans-serif;
  color: #333333;
}

.container {
  display: -webkit-flex;
  display: flex;
  margin: 0 0 0 100px;
}

.hero {
  background: url("./images/houston.jpg") no-repeat;
  background-size: cover;
  height: 500px;
}

nav {
  width: 200px;
  margin: 5px;
}

nav h2, label {
  font: 18px Verdana, Geneva, sans-serif;
  color: #555555;
}

nav h2 {
  line-height: .5;
}

nav p {
padding: 10px 0;
}

nav p, input {
  font: 14px Verdana, Geneva, sans-serif;
  color: #777777;
}

nav .circle {
  border: 5px solid #ffffff;
  border-radius: 50%;
  background: #000;
  width: 100px;
  height: 100px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

nav .logo {
  background: url("./images/TIY-Blog-Logo.png") no-repeat;
  width: 80px;
  height: 80px;
  background-size: 80px;
  margin-top: 10px;
}

.flex-column {
  -webkit-flex: 1;
  flex: 1;
  margin: 5px;
  padding: 10px;
}

.flex-column img {
  border: none;
  padding: 10px;
}

.by-line {
  font: italic 16px Verdana, Geneva, sans-serif;
  color: #222222;
  line-height: 3;
}

.by-line a {
  color: #3366ff;
  text-decoration: none;
}

.by-line a:hover {
  color: #99ccff;
  text-decoration: none;
}

footer {
  height: 100px
  color: #666666;
}

.follow-box {
  width: 200px;
  height: 100px;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f1f1f1;
    -webkit-box-shadow: -1px 5px 2px 0px rgba(196,196,196,1);
    -moz-box-shadow: -1px 5px 2px 0px rgba(196,196,196,1);
    box-shadow: -1px 5px 2px 0px rgba(196,196,196,1);
}

.follow-box p {
  border-bottom: 1px solid #888888;
  line-height: 2;
  font: 16px Geneva, sans-serif;
  color: #777777;
}